.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}


/**
 * Search
 */
 #result::after {
   content:"";
   position:relative;
   width:auto;
   height:1px;
   background-image: radial-gradient(#8a2e2f, white);
   margin-bottom: 1em;
   margin-top: 1em;
   display:block;
 }

#result{
  list-style-type: none;
}
#result h2 {
  display: flex;
  padding: 0px;
  margin: 0px;
}

tbody {
   border: none;
 }

.searchResultLeftColumn, .searchResultRightColumn {
 background-color: white;
}

.searchResultLeftColumn {
  width: 140px;
}

#result a {
  color: #034EA2
}

#sort_by {
  float: right;
  margin-top: -2px; 
}
#sort_by label {
  display: inline-block; 
}
@media screen and (max-width: 600px) {
  #sort_by label {
    display: none; 
  } 
}

#searchInfo {
  background-color: #DDD;
  padding: 10px;
  margin-bottom: 10px;
}

.facet_button {
  border: 2px solid grey;
  background-color: white;
  color: grey;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 40px;
}

#header_info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: none;
}

#pagination {
  display: flex;
  justify-content: center;
}

.pagination > .active {
  background: #ccc;
}

.dropdownsort {
  float: right;
}

.dropdownsort > select {
  height: auto;
  margin: auto;
  width: auto;
  padding: .1rem;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

#spinner {
  font-size: 100px;
  text-align: center;
}

.wrapper {
  max-width: none;
}

#facets a {
  white-space:normal;
}

#facets h4 {
  padding: 12px 0px 5px;
  margin: 0px;
}

.thumbnail div {
  margin: 0px;
  padding: 0px;
}

.thumbnail {
  height: 50px;
  float: left;
  margin-bottom: 1em;
}

.thumbnail img {
  height: 50px;
  width: auto!important;
  float: left;
  padding-right: 10px;
}

.searchResultMetadata {
  margin-bottom: 1em; 
  margin-top: 1em;
}

.results_data {
  display: grid;
}

.excerpt {
  display: inline-block;
}

#resultslist {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 20px;
  margin-right: 20px;
}