<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'base.html' %}
    {% block header %}
    <h1>{% block title %}Tag Builder{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <b>When building any type of storyboard custom view the <b>fullpage</b>
    setting is recommended. It is also recommended to wait until right before you save your custom view to select it because it will continually pop up with every new setting you enable.
  </b>
    <script type="application/json" id="collections">
      {{session["collectionnames"] | tojson | safe}}
    </script>
    <div id="app"></div>
    <script src="/app.js"></script>
    {% endblock %}
</html>
