<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'base.html' %}
    {% block header %}
    <h1 style="margin-bottom: 0px">{% block title %}Tag Builder{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <p>Custom views allow you save a view into a webpage. 
      {% set filename = request.args.get('url').split('/')[-1].split('.json')[0] %}
      The filename will populate the url, unless you change the filename field,
      your URL will be: <a href="{{session['origin_url']}}customviews/{{filename}}">{{session['origin_url']}}customviews/{{filename}}</a>. 
      The preview in the viewer will reflect the view you will save. 
      You can also add a custom view to a collection instead of saving it as a webpage.
    </p>
    <script type="application/json" id="collections">
      {{session["collectionnames"] | tojson | safe}}
    </script>
    <div id="app"></div>
    <script src="/app.js"></script>
    {% endblock %}
</html>
