<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - Annonatate</title>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <script src="https://ncsu-libraries.github.io/annona/latest/annona.js"></script>
  <link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/latest/annona.css">	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="/assets/js/global.js"></script>

 </head>
<body>
  <div id="spinner" style="display: none;background-color: rgba(0, 0, 0, 0.3); width:100%; height:100%;position: absolute;">
		<i class="fas fa-spinner fa-spin" style="position: absolute;top:50%;right:50%;"></i>
	</div>
  <div class="topnav" id="myTopnav">
    {% if 'user_id' in session.keys() %}
    <a href="{{ url_for('index') }}" aria-label="index link"><i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <a href="{{ url_for('listannotations') }}">Annotations</a>
    <a href="{{ url_for('search') }}">Search</a>
    <a href="{{ url_for('upload') }}">Upload</a>
    <a href="{{ url_for('customviews') }}">Custom views</a>
    <a href="{{ url_for('collections') }}">Collections</a>
    <a href="https://annonatate.github.io/annonatate-help/" target="_blank">Help</a>
    <a href="/profile" style="float: right;">
      <i class="fas fa-user"></i>
    </a>
     {% if session['workspaces'] | length > 1 %}
    	<a style="float: right;" href="{{session['currentworkspace']['html_url']}}" target="_blank">{{session['currentworkspace']['full_name'].split('/')[-1]}}</a>
    {% endif %}
    <a href="javascript:void(0);" aria-label="hamburger menu" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    {% else %}
    <a style="float:right" href="{{ url_for('login', next=request.url) }}">Login</a>
    {% endif %}

  </div>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <p class="error">{{g.error | safe}}</p>
    {% if 'tempuser' not in session.keys() or session['tempuser'] != True %}
    {% block content %}{% endblock %}
    {% else %}
      {% include 'tempuserform.html' %}
    {% endif %}
  </section>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>    
</body>
</html>