<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - Annonatate</title>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <script src="https://ncsu-libraries.github.io/annona/latest/annona.js"></script>
  <link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/latest/annona.css">	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="/assets/js/global.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

 </head>
<body>
  <div id="spinner" style="display: none;background-color: rgba(0, 0, 0, 0.3); width:100%; height:100%;position: absolute;">
		<i class="fas fa-spinner fa-spin" style="position: absolute;top:50%;right:50%;"></i>
	</div>
  <div class="topnav" id="myTopnav">
    {% if 'user_id' in session.keys() %}
    {% set navigation = [{'url': url_for('index'), 'label': 'Home'},
    {'url': url_for('listannotations'), 'label': 'Annotations'},
    {'url': url_for('search'), 'label': 'Search'},
    {'url': url_for('upload'), 'label': 'Upload'},
    {'url': url_for('customviews'), 'label': 'Custom views'},
    {'url': url_for('collections'), 'label': 'Collections'}
    ] %}
    {% for nav in navigation %}
    <a href="{{nav['url']}}" {% if request.path == nav['url'] %}class="active"{% endif %}>{{nav['label']}}
    </a>
    {% endfor %}
    <a href="https://annonatate.github.io/annonatate-help/" target="_blank">Help</a>
    <a href="javascript:void(0);" aria-label="hamburger menu" class="icon" onclick="responsiveMenu()">
      <i class="fa fa-bars"></i>
    </a>
    <div class="dropdown menu">
      <a class="dropbtn{% if request.path == '/profile/' %} active{% endif %}" onclick="dropdownToggle('workspaceDropdown')" {% if request.path == '/profile/' %}class="active"{% endif %}>
        {{session['currentworkspace']['name']}}
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content" id="workspaceDropdown">
        <a href="/profile"><i class="fas fa-exchange-alt"></i>
          Switch Workspace</a>
        <a href="/profile/?tab=workspaces"><i class="fas fa-plus"></i> Create New Workspace</a>
        <a href="/profile/?tab=workspaces#renameworkspace">
          <i class="fas fa-pen-alt"></i> Update Workspace Name</a>
        {% if session['currentworkspace']['permissions']['admin'] %}
        <a href="/profile/?tab=profile#invite">
          <i class="fas fa-paper-plane"></i> Invite Collaborators</a>
        {% endif %}
        <a href="/profile/?tab=data"><i class="fas fa-cog"></i> Workspace Settings</a>
        <a href="{{session['currentworkspace']['html_url']}}" target="_blank"><i class="fab fa-github"></i> View files</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>

    {% else %}
    <img src="/images/favicon-neg.ico" alt="Annonatate logo which features a drawing of an annona plant next to the text Annonatate." style="float: left; height: 100%"/>
    <a style="float:right" href="{{ url_for('login', next=request.url) }}">Login</a>
    {% endif %}

  </div>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <p class="error">{{g.error | safe}}</p>
    {% if 'tempuser' not in session.keys() or session['tempuser'] != True %}
    {% block content %}{% endblock %}
    {% else %}
      {% include 'tempuserform.html' %}
    {% endif %}
  </section>
  <script>
    function responsiveMenu() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>    
</body>
</html>