{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Create Collection{% endblock %}</h1>
{% endblock %}
{% block content %}
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
<form @submit="submit">
    <div>
        <label for="title">Collection Title</label><br>
        <input id="title" name="title" v-model="formvalues['title']" required>
    </div>
    <div v-for="(annotation, index) in formvalues['annotations']" :key="index">
      <h2>
        <span v-html="'Board ' + (index+1)"></span>
        <button @click="removeboard(index, $event)" class="removeboard">
          <i class="fas fa-window-close"></i>
        </button>
      </h2>
      <div>
        <label for="annotitle">Annotation Title</label><br>
        <input id="annotitle" name="annotitle" v-model="annotation.title">
      </div>
      <div v-show="!annotation['board']">
        <label for="annourl">Annotation Url</label><br>
        <input id="annourl" name="annourl" v-model="annotation.url">
      </div>
      <div v-if="!annotation['board']">
        <label for="annotype">Annotation Type</label><br>
        <select v-model="annotation.viewtype" required>
            <option name="iiif-storyboard" value="iiif-storyboard" selected>Storyboard</option>
            <option name="iiif-annotation" value="iiif-annotation">Image View</option>
            <option name="iiif-multistoryboard" value="iiif-multistoryboard">Multistoryboard</option>
        </select>
      </div>  

      <div>
        <label for="description">Annotation Description</label><br>
        <input id="description" name="description" v-model="annotation.description">
      </div>  
      <div>
        <label for="annothumbnail">Annotation Thumbnail</label><br>
        <input id="annothumbnail" name="annothumbnail" v-model="annotation.thumbnail">
      </div>  
      <div v-if="annotation['board']">
        <label for="annotag">Annotation Tag</label><br>
        <textarea id="annotag" name="annotag" v-model="annotation.board"></textarea>
      </div>
      <div v-if="annotation['annotation']">
        <label for="annotag">Annotation</label><br>
        <textarea id="annotation" name="annotation" v-model="annotation.annotation"></textarea>
      </div>
    </div>
    <input id="add" name="add" v-model="formvalues.add" type="hidden">
    <button @click="addboard" style="margin-top:12px;">Add board</button>
    <div class="submitbutton">
      <button type="submit">
          <span v-if="formvalues.add">Add to</span>
          <span v-else>Update </span>
          Collection
      </button>
    </div>
    </form>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    title: '',
    formvalues: '',
    add: false, 
    emptydict: {'description': '', 'title': '', 'url': '', 'viewtype': 'iiif-storyboard', 'board': '', 'thumbnail': ''}
  },
  watch: {

  },
  mounted: function() {
    this.formvalues = JSON.parse(`{{formvalues | tojson |safe}}`)
    for (var fv=0; fv<this.formvalues['annotations'].length; fv++){
      if (this.formvalues['annotations'][fv]['annotation']){
        this.formvalues['annotations'][fv]['annotation'] = JSON.stringify(this.formvalues['annotations'][fv]['annotation'])
      }
    }
  },
  created() {
  },
  methods: {
      addboard: function(e){
        const emptydict = JSON.parse(JSON.stringify(this.emptydict));
        this.formvalues['annotations'].push(emptydict)
        e.preventDefault()
      },
      buildboard: function(annotation){
        const tag = annotation['board'] ? annotation['board'] : `<${annotation['viewtype']} annotationurl=${annotation['url']}></${annotation['viewtype']}>`
        return tag;
      },
      removeboard: function(index, e){
        this.formvalues['annotations'].splice(index, 1);
        const emptydict = JSON.parse(JSON.stringify(this.emptydict));
        if (this.formvalues['annotations'].length == 0){
          this.formvalues['annotations'].push(emptydict)
        }
        e.preventDefault()
      },
      submit: function(e){
        const data = this.formvalues;
        axios.post('/createcollections', data)
        .then((response) => {
            window.location.href = `/collections/${data['title']}`;
        }, (error) => {
            console.log(error);
        });
        e.preventDefault()
      }
  }
})
</script>
{% endblock %}