{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Custom Views{% endblock %}</h1>
{% endblock %}
{% block content %}

  {% if session['annocustomviews'] | length == 0 %}
  <b>You currently don't have any custom views. </b>
  {% endif %}
  Custom views allow you to create a view that is outside the default view. 
  For example, if you want your viewer to show overlays on load, you can set your <a href="https://annonatatetester.github.io/demos/customviews/customviewdemo/">viewer to do so and save that view as a sharable URL.</a>
<br>
<br>
<a href="{{ url_for('annonaview') }}">Start building custom views!</a>
<br>
<div class="gridparent">
{% for key, allviews in session['annocustomviews'].items() %}
{% if key %}
{% for view in allviews %}
{% set user = view['user'] if view is mapping else '' %}
<div class="customview">
{% if 'filename' in view %}
{% if 'slug' not in view %}
{% set customviewurl =  view['filename'].replace('.html', '') %}
<a href="{{customviewurl}}" target="_blank">{{customviewurl}}</a>
{% else %}
<div id="{{view['slug']}}-render">
{{view['slug']}} is still rendering
</div>
{% endif %}
{% with file=view['filename'], user=user, next=request.path %}
{% include 'deletebutton.html' %}
{% endwith %}
{% if 'slug' not in view %}
<div class="embedview">
<iframe src="{{customviewurl}}" id="{{customviewurl}}" style="height: 600px;width: 100%;"></iframe>
</div>
{% else %}
<div id="{{view['slug']}}-embedview" class="embedview">

</div>
<script>
  var isready = UrlExists(`/uploadstatus?url={{view['filename']}}&checknum=0&uploadtype=customview`);
  var start = 1;
  if (isready['status']){
    success(false)
  } else {
    var interval = setInterval(function(){
      var isready = UrlExists(`/uploadstatus?url={{view['filename']}}&checknum=${start}&uploadtype=customview`);
      start += 1
      if (isready['status']){
        success(true)
      }
    }, 40000);
    function stopFunction() {
      clearInterval(interval);
    }
  }      
  
  function success(stopinterval){
    document.getElementById("{{view['slug']}}-render").innerHTML = `<a href="{{view['filename']}}" target="_blank">{{view['filename']}}</a>`;
    document.getElementById("{{view['slug']}}-embedview").innerHTML = `
    <iframe src="{{view['filename']}}" id="{{view['filename'].replace('.html', '')}}" style="height: 600px;width: 100%;"></iframe>`
    if (stopinterval){
      stopFunction();
    }
  }
</script>
{% endif %}
{% else %}
{% set customviewurl =  view.replace('.html', '') %}
<a href="{{customviewurl}}" target="_blank">{{customviewurl}}</a>
{% with file=view, user='', next=request.path %}
{% include 'deletebutton.html' %}
{% endwith %}
<iframe src="{{customviewurl}}" id="{{customviewurl}}" style="height: 660px; width: 100%;"></iframe>
{% endif %}
</div> 
{% endfor %}
{% endif %}
{% endfor %}
</div>
{% endblock %}
