<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<p>Hi. This is your first time logging in. We had to build your website, if you are seeing this page the website is still building. This page should redirect after your website has been built.</p>
<p>If the page does not redirect after a minute or two there is something wrong with your site. {{session.origin_url}}.
	Try refreshing the page. If that doesn't work you might need to delete your repository and try logging in again.

</p>


<script>
	function UrlExists(url){
		var status = false;
	    $.ajax({url: url,
	    	type: 'GET',
	    	async: false,
	    	cache: false,
	    	success: function(data) {
            	status = true;
        	}
  		});
  		return status;
	}
	$(window).on('load', function() {
		setInterval(function(){ 
			var isready = UrlExists('/sitestatus');
		    if (isready) {
				window.location.href = "/"
			}
		}, 4000);
	})


</script>