{% extends 'base.html' %}
{% block content %}
{% set ismirador = session | isMirador %}
{% if ismirador %}
<link rel='stylesheet' type='text/css' href='/assets/mirador/css/mirador-combined.css'>
{% else %}
<script src="/assets/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript" src="/assets/iso6391/index.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/openseadragon/annotorious.min.css">
<script src="/assets/openseadragon/annotorious-selector-pack.min.js"></script>
<script src="/assets/openseadragon/annotorious-toolbar.min.js"></script>

<script src="/assets/manifesto/manifesto.js"></script>
<!-- JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.1.0/dist/openseadragon-annotorious.min.js"></script> -->
<script src="/assets/openseadragon/openseadragon-annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/geotagging-widget@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-tilted-box@latest/dist/annotorious-tilted-box.min.js"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<div id="app">
  <h1 style="margin: 10px 0px;">{% block title %}Start Annotating{% endblock %}</h1>
  {% set updatepage = 'true' if 'numbcollabs' in session['currentworkspace'].keys() and session['currentworkspace']['numbcollabs'] > 1 else 'false' %}
  {% set inprocess = session['inprocess'] if 'inprocess' in session.keys() and session['inprocess'] else [] %}
  <annoview :inprocessdata="{{inprocess}}" :existing='{{existingitems | tojson}}' :updatepage="{{updatepage}}" :filepaths='{{ filepaths|tojson }}' :userinfo='{{userinfo | tojson}}' :tags='{{tags|tojson}}' :originurl='{{session["origin_url"] | tojson}}'></annoview>
</div>
{% if ismirador %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src='/assets/mirador/mirador.min.js'></script>
<script src='/assets/mirador/annotationEndpoint.js'></script>
<script src="mirador-index.js"></script>
{% else %}
<script src="index.js"></script>
{% endif %}
<script>
  function listfilename(canvas){
    const r = /\d+/gm;
    canvas = canvas.replace('.json', '')
    const canvaslist = canvas.split('/')
    withnumbs = canvaslist.filter(elem => elem.match(r));
    filename = withnumbs.length > 0 ? withnumbs.join("-") : canvaslist.slice(-1)[0];
    filename = filename.replace(/[^A-Za-z0-9]+/g, "-").toLowerCase();
    filename = "{{ session['origin_url'] }}{{session['defaults']['annotations']}}".replace("_", "") + '/' + filename + '-list.json';
    return filename
  }
</script>
{% endblock %}
