{% extends 'base.html' %}
{% block content %}
<h2>Welcome to Annonatate</h2>
<p>
    You are seeing this page because you are not logged in. 
    <p>
    In order to use Annonatate the only account you need is a GitHub account.
    </p>
    <p>
    If you have a GitHub account go ahead and <a href="{{ url_for('login', next=request.full_path) }}">Login</a>.
    </p>
    <p>
    If you don't have a GitHub account the login pages has a <b>New to GitHub? Create an account</b>. 
</p>
</p>
<h3>About Annonatate</h3>
<p>Annonatate is an application that allows you to create W3 web annotations on images.
    <b>W3 Web Annontations</b> is an open source standard for creating annotations. 
    Because of it's open source nature these annotations can be used with many other tools.
    Annonatate also is compatible with <b>IIIF images and/or IIIF manifests. </b>
</p>
<img src="/images/landingpage.png"  alt="landing page icon" style="width: 100%">
{% endblock %}