<button onclick="updateData()" class="button" style="float: right;">Update</button>
<div style="padding-top: 20px; width: 90%">
You can edit any of the items below, just edit the text and click update.<br>
<b>Manifests and images</b> are links to external manifests and images that you would like to annotate,
but don't want to upload, but want to have easily avaliable on the homepage.<br>
<b>Settings</b> are settings for your Annonatate workspace, these are specific to each workspace (not your user).
A list of <a href="https://annonatate.github.io/settings.html">settings options</a> are avaliable in the link.
<br>If you have uploaded a <b>Vocab</b> you can edit it here.<br>
<b>To create a new list item hit enter. You must keep the list format otherwise you will cause problems.</b>
</div>
{% for key in session['preloaded'] %}
<h2>{{key.title()}}</h2>
<div class="listitems" id="{{key}}" contenteditable="true">
  <ul style="outline: none;box-shadow: 0px 0px 5px #61C5FA;border:1px solid #5AB0DB;">
    {% if session['preloaded'][key] is iterable and (session['preloaded'][key] is not string and session['preloaded'][key] is not mapping) %}
        {% for listitem in session['preloaded'][key] %}
            <li>{{listitem}}</li>
        {% endfor %}
        {% if session['preloaded'][key] | length < 1 %}
        <li></li>
        {% endif %}
    {% elif session['preloaded'][key] is not string %}
        {% if session['preloaded'][key] | length  == 0 %}
        <li class="dict"></li>
        {% endif %}
        {% for items in session['preloaded'][key] %}
            <li class="dict">{{items}}: {{session['preloaded'][key][items]}}</li>
        {% endfor %}
    {% else %}
        <li>{{session['preloaded'][key]}}</li>
    {% endif %}
  </ul>
</div>
{% endfor %}
<form action="{{ url_for('updatedata') }}" id="updatedataform" name="updatedataform" method="post" style="display: none;">
    <label for="updatedata">Update data</label>
    <input id="updatedata" name="updatedata" value=""/>
</form>
<script>
    function updateData() {
        var dictdata = {}
        const listitems = document.getElementsByClassName('listitems');
        for (var li=0; li<listitems.length; li++){
            var htmlcoll = Array.from(listitems[li].getElementsByTagName('li'))            
            var listelem = {};
            if (htmlcoll[0] && htmlcoll[0].className != 'dict'){
                listelem = htmlcoll.map(function(elem) {
                    if (elem.textContent.indexOf("{") > -1){
                        return JSON.parse(elem.textContent.replaceAll("'", '"'))
                    } else {
                        return elem.textContent
                    }
                })
            } else {
                htmlcoll.map(function(elem) {
                    if (elem.textContent){
                        var keyvalue = elem.textContent.split(":");
                        listelem[keyvalue[0].trim()] = keyvalue[1].trim()
                    }
                })
            }
            dictdata[listitems[li].id] = listelem;
        }
        document.getElementById('updatedata').value = JSON.stringify(dictdata);
        document.getElementById("updatedataform").submit();
    }
</script>