<button onclick="updateData()" class="button" style="float: right;">Update</button>
{% for key in session['preloaded'] %}
<div class="listitems" id="{{key}}" contenteditable="true">
  <h2>{{key.title()}}</h2>
  <ul>
    {% if session['preloaded'][key] is iterable and (session['preloaded'][key] is not string and session['preloaded'][key] is not mapping) %}
        {% for listitem in session['preloaded'][key] %}
            <li>{{listitem}}</li>
        {% endfor %}
        {% if session['preloaded'][key] | length < 1 %}
        <li></li>
        {% endif %}
    {% elif session['preloaded'][key] is not string %}
        {% if session['preloaded'][key] | length  == 0 %}
        <li class="dict"></li>
        {% endif %}
        {% for items in session['preloaded'][key] %}
            <li class="dict">{{items}}: {{session['preloaded'][key][items]}}</li>
        {% endfor %}
    {% else %}
        <li>{{session['preloaded'][key]}}</li>
    {% endif %}
  </ul>
</div>
{% endfor %}
<form action="{{ url_for('updatedata') }}" id="updatedataform" name="updatedataform" method="post" style="display: none;">
    <label for="updatedata">Update data</label>
    <input id="updatedata" name="updatedata" value=""/>
</form>
<script>
    function updateData() {
        var dictdata = {}
        const listitems = document.getElementsByClassName('listitems');
        for (var li=0; li<listitems.length; li++){
            var htmlcoll = Array.from(listitems[li].getElementsByTagName('li'))            
            var listelem = {};
            if (htmlcoll[0] && htmlcoll[0].className != 'dict'){
                listelem = htmlcoll.map(function(elem) {
                    if (elem.textContent.indexOf("{") > -1){
                        return JSON.parse(elem.textContent.replaceAll("'", '"'))
                    } else {
                        return elem.textContent
                    }
                })
            } else {
                htmlcoll.map(function(elem) {
                    if (elem.textContent){
                        var keyvalue = elem.textContent.split(":");
                        listelem[keyvalue[0].trim()] = keyvalue[1].trim()
                    }
                })
            }
            dictdata[listitems[li].id] = listelem;
        }
        document.getElementById('updatedata').value = JSON.stringify(dictdata);
        document.getElementById("updatedataform").submit();
    }
</script>