<p>This page lists content you have already uploaded. To upload new content go to the <a href="{{url_for('upload')}}">Upload page.</a></p>
{% for key in session['upload'] %}
<div class="uploadlist" id="{{key}}">
  {% for content in session['upload'][key] %}
  <div>
    {% set url = content['url'] if content is mapping else content %}
    {% if content['thumbnail'] %}
    <img style="height: 100px;" src="{{content['thumbnail']}}"/>
    {% else %}
    <a href="{{url}}">{{url}}</a>
    {% endif %}
    {% with file=content|tojson_pretty, next='/profile?tab=uploads' %}
    {% include 'deletebutton.html' %}
    {% endwith %}
    <a href="{{url_for('index', manifesturl=url) }}" class="button" style="padding: 5px 7px;">Annotate</a>
    </div>
{% endfor %}
</div>
{% endfor %}
