{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}
{% block content %}
	<div class="logout">
		<a href="{{url_for('logout')}}">Logout</a>
	</div>
	{% set tabs = 'profile' | get_tabs %}
	{% include '_tab_headers.html' %}
	<div id="status" class="tabcontent">
		{% include 'profilestatus.html' %}
	</div>
	<div id="profile" class="tabcontent">
	{% include 'profiletab.html' %}
	</div>
	<div id="data" class="tabcontent">
		{% include 'profiledata.html' %}
	</div>
	<div id="uploads" class="tabcontent">
		{% include 'profileuploads.html' %}
	</div>
{% endblock %}