<p>This page lists content you have already uploaded. To upload new content go to the <a href="{{url_for('upload')}}">Upload page.</a></p>
{% for key in session['upload'] %}
<div class="uploadlist" id="{{key}}">
  {% for content in session['upload'][key] %}
  <div>
    {% set url = content['url'] if content is mapping else content %}
    {% set id = content['title'] if content is mapping else content %}
    {% set user = content['user'] if content is mapping else '' %}
    {% if content['thumbnail'] %}
    <img style="height: auto; width: 90px" src="{{content['thumbnail']}}"/>
    {% if 'title' in content.keys() %}
    <figcaption class="dropbtn" onclick="dropdownToggle('drop{{url}}')" style="max-width: 90px;overflow-wrap:break-word;">
      {{content['title']}} <i class="fas fa-ellipsis-v"></i>
    </figcaption>
    {% endif %}
    {% else %}
    <a href="{{url}}">{{url}}</a> <i class="fas fa-ellipsis-v dropbtn" onclick="dropdownToggle('drop{{url}}')"></i>
    {% endif %}
    <div class="dropdown-content uploads" id="drop{{url}}">
    {% with file=content|tojson_pretty, user=user, next='/profile?tab=uploads' %}
    {% include 'deletebutton.html' %}
    {% endwith %}
    <a href="{{url_for('index', manifesturl=url) }}" class="button" style="padding: 5px 7px;">Annotate</a>
    </div>
    </div>
{% endfor %}
</div>
{% endfor %}
