
<div class="profile">
        <h2>User Display Name (used for creator information)</h2>
        {% for key, value in userinfo.items() %}
            <div>
                {{key}}: {{value}}
            </div>
        {% endfor %}
        {% if session['tempuser'] %}
        <a href="https://github.com/settings/profile" target="_blank">Update user info</a>
        <br>{% include 'tempuserform.html' %}
        {% endif %}
        {% if invites | length > 0 %}
        <div>
        <h2>Invitations</h2>
        <div class="about">Invitations from other users to join their workspaces.</div>
        {% for invite in invites %}
        <img src="{{invite['inviter']['avatar_url']}}" class="githubicon" alt="github user icon">
            <a href="{{invite['inviter']['html_url']}}" target="_blank">{{invite['inviter']['login']}}</a> has invited you to collaborate on
        <a href="{{invite['repository']['html_url']}}">{{invite['repository']['full_name']}}</a>
        <form style="display:inline" action="{{ url_for('invites', type='accept') }}" method="post">
            <button name="inviteurl" type="submit" value="{{invite['url']}}">Accept</button>
        </form>
        {% endfor %}
        </div>
        {% endif %}
        {% if sent_invites | length > 0 %}
        <div>
        <h2>Pending Invitations</h2>
        <div class="about">Invitations from you to other users to join your workspace.</div>
        {% for invite in sent_invites %}
        <img src="{{invite['invitee']['avatar_url']}}" class="githubicon" alt="github user icon"/>
            <a href="{{invite['invitee']['html_url']}}" target="_blank">{{invite['invitee']['login']}}</a> has a pending invitation with <b>{{invite['permissions']}}</b> access.
        <form style="display:inline" action="{{ url_for('invites', type='revoke') }}" method="post">
            <button name="inviteurl" type="submit" value="{{session['currentworkspace']['url']}}/invitations/{{invite['id']}}">Revoke</button>
        </form>
        {% endfor %}
        </div>
        {% endif %}
        <h2>Workspaces</h2>
        <div class="about">Workspaces on GitHub are repos. These allow work to be seperated based on user needs.</div>
        {% set switcherror = request.args.get('switcherror') %}
        {% set renameerror = request.args.get('renameerror') %}
        {% if switcherror %}
        <p>
        <i class="fas fa-exclamation-triangle"></i> There was a problem switching to the workspace <b>{{switcherror}}</b>.
        If this is newly created workspace give the workspace a minute to finish rendering and try switching again. 
        If this is a <b>wax repository</b> we had to add an API to your repository. Please give it a minute and try switching again.
        If this problem does not go away in a couple minutes please <a href="https://github.com/annonatate/annonatate/issues/new">contact us.</a>
        </p>
        {% endif %}
        {% for key, value in session['workspaces'].items() %}
        <div>
            <div>
                <a href="{{value['html_url']}}" target="_blank">{{key}}</a>
                <span class="switchorcurrent">
                {% if 'default-workspace' in value['topics'] %}
                <code>(default-workspace)</code>
                {% endif %}
                {% if session['currentworkspace']['full_name'] == key %}
                <div style="color: green">(Current workspace)</div>
            </div>
            {% if collaborators | length > 0 %}
            <div class="workspaceusers">
                <h3>Users for current workspace</h3>
                {% for collaborator in collaborators %}
                <div style="display: block;">
                    {% set selected = collaborator| parse_permissions %}
                    {% set login = collaborator['login'] %}
                    <img src="{{collaborator['avatar_url']}}"  alt="github user icon for {{collaborator['login']}}" class="githubicon" style="height: 100px"/>
                    <a href="{{collaborator['html_url']}}" target="_blank">
                        {{login}}</a>
                        {% if value['permissions']['admin'] and collaborator['login'] != session['currentworkspace']['owner']['login'] and session['currentworkspace']['owner']['type'] == 'Organization' %}
                        <form action="{{ url_for('updatecollaborator', next=request.path) }}" method="post" style="display: inline-block;">
                        <select onchange="checkUpdate('{{login}}', this)" name="permission">
                            <option id="admin" value="admin" {% if selected == 'admin' %} selected {% endif %}>
                                Admin</option>
                            <option id="write" value="push" {% if  selected == 'write' %} selected {% endif %}>
                                    Read/Write</option>
                            <option id="read" value="pull"  {% if  selected == 'read' %} selected {% endif %}>
                            Read</option>
                            <option id="remove" value="remove">
                                Remove user</option>
                        </select>
                        <input style="display: none;" value="{{collaborator['login']}}" name="user"/>
                        </form>
                        {% else %}
                        ({{selected}})
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% elif value['has_pages'] %}
        <form action="{{ url_for('changeworkspace', next=request.path) }}" method="post">
            <button name="workspace" type="submit" value="{{key}}">Switch</button>
        </form></div>
        {% else %}
        <div>
        <i class="fas fa-exclamation-triangle"></i> This repo does not have GitHub pages enabled. You will not be able to use this repository until you <a href="{{value['html_url']}}/settings/pages" target="_blank">enable GitHub pages</a>.
        </div>
        {% endif %}
        </span>
        </div>
        {% endfor %}
        
    {% if session['isadmin'] %}
    <h2 id="invite">Invite collaborators to {{session['currentworkspace']['full_name']}}</h2>
    <form action="{{ url_for('updatecollaborator', next=request.path) }}" method="post">
        <fieldset>
        <legend>Collaborator</legend>
        <div><label for="user">GitHub Username:</label>
            <input name="user" id="user"/></div>
        {% if session['currentworkspace']['owner']['type'] == 'Organization' %}
        <div>
        <input type="radio" id="pull" name="permission" value="pull">
          <label for="pull">Read Only</label><br>
          <input type="radio" id="push" name="permission" value="push" checked>
          <label for="push">Read/Write</label><br>
          <input type="radio" id="admin" name="permission" value="maintain">
          <label for="admin">Admin</label>
          <button name="button" type="submit" value="submit">Submit</button>
        </div>
        {% else %}
        <br>
        <div>This repository is {{session['currentworkspace']['owner']['type']}} account. All users will be given <b>Write</b> access to this workspace.
            
            In order to fine tune permissions
            for users (read/admin/write) access, you will need to create workspace with an
            <a href="https://github.com/account/organizations/new?plan=free">
                organization account
            </a>. After creating an organization <a href="{{revoke_url}}">revoke access for Annonatate</a> and <a href="/login">Login</a> again.
            For more information on <a href="https://docs.github.com/en/apps/oauth-apps/using-oauth-apps/reviewing-your-authorized-oauth-apps">revoking authorization</a>.
        </div>
        <br>
        {% endif %}
        </fieldset>
    </form>
    {% endif %}
</div>
</div>
<script>
    function checkUpdate(collaborator, selecttag){
        const check = confirm(`Do you really want to change ${collaborator} to ${selecttag.selectedOptions[0].id}?`);
        if (check){
            selecttag.form.submit();
        } else {
            const indexitem = {'admin': 0,'maintain': 1, 'write': 1, 'read': 2}
            const collabs = JSON.parse('{{collaborators | tojson | safe}}');
            collab = collabs.filter(elem => elem['login'] == collaborator);
            const permission = collab[0]['role_name'];
            selecttag.selectedIndex = indexitem[permission];
        }
    }
</script>
</div>
