
	<div class="profile">
        {% set adminaccounts = [] %}
        <h2>User Display Name (used for creator information)</h2>
        {% for key, value in userinfo.items() %}
            <div>
                {{key}}: {{value}}
            </div>
        {% endfor %}
        <a href="https://github.com/settings/profile" target="_blank">Update user info</a>
        {% if invites | length > 0 %}
        <div>
        <h2>Invitations</h2>
        {% for invite in invites %}
        <img src="{{invite['inviter']['avatar_url']}}" class="githubicon" alt="github user icon">
            <a href="{{invite['inviter']['html_url']}}" target="_blank">{{invite['inviter']['login']}}</a> has invited you to collaborate on
        <a href="{{invite['repository']['html_url']}}">{{invite['repository']['full_name']}}</a>
        <form action="{{ url_for('acceptinvite') }}" method="post">
            <button name="inviteurl" type="submit" value="{{invite['url']}}">Accept</button>
        </form>
        {% endfor %}
        </div>
        {% endif %}
        <h2>Workspaces</h2>
        {% set switcherror = request.args.get('switcherror') %}
        {% set renameerror = request.args.get('renameerror') %}
        {% if switcherror %}
        <p>
        <i class="fas fa-exclamation-triangle" style="color:red"></i> There was a problem switching to the workspace <b>{{switcherror}}</b>.
        If this is newly created workspace give the workspace a minute to finish rendering and try switching again. 
        If this is a <b>wax repository</b> we had to add an API to your repository. Please give it a minute and try switching again.
        If this problem does not go away in a couple minutes please <a href="https://github.com/annonatate/annonatate/issues/new">contact us.</a>
        </p>
        {% endif %}
        {% for key, value in session['workspaces'].items() %}
        <div>
        <div>
        <a href="{{value['html_url']}}" target="_blank">{{key}}</a>
        <span class="switchorcurrent">
        {% if session['currentworkspace']['full_name'] == key %}
            <div style="color: green">(Current workspace)</div></div>
            <div class="workspaceusers">
            <h3>Users for current workspace</h3>
            {% for collaborator in collaborators %}
            <div style="display: block;">
            <img src="{{collaborator['avatar_url']}}"  alt="github user icon for {{collaborator['login']}}" class="githubicon" style="height: 100px">
            <a href="{{collaborator['html_url']}}" target="_blank">
            {{collaborator['login']}}</a>{% if value['permissions']['admin'] and collaborator['login'] != session['currentworkspace']['owner']['login'] %}
            <form onsubmit="return confirm(`Do you really want to remove {{collaborator['login']}} from this workspace?`);" action="{{ url_for('removecollaborator', next=request.path) }}" method="post" style="display: inline-block;">
                <button name="user" type="submit" value="{{collaborator['login']}}" aria-label="remove {{collaborator['login']}} access to workspace">
                    <i class="fas fa-user-slash"></i>
                </button>
            </form>
            {% endif %}
            </div>
            {% endfor %}
            </div>
        {% elif value['has_pages'] %}
        <form action="{{ url_for('changeworkspace', next=request.path) }}" method="post">
            <button name="workspace" type="submit" value="{{key}}">Switch</button>
        </form></div>
        {% else %}
        <div>
        <i class="fas fa-exclamation-triangle" style="color:red"></i> This repo does not have GitHub pages enabled. You will not be able to use this repository until you <a href="{{value['html_url']}}/settings/pages" target="_blank">enable GitHub pages</a>.
        </div>
        {% endif %}
        </span>
        </div>
        {% if value['permissions']['admin'] %}
        {% set adminaccounts = adminaccounts.append(value['full_name']) %}
        {% endif %}
        {% endfor %}
    
    {% if session['isadmin'] %}
    <h2>Invite collaborators to {{session['currentworkspace']['full_name']}}</h2>
    <form action="{{ url_for('add_collaborator') }}" method="post">
        <fieldset>
        <legend>Collaborator</legend>
        <div><label for="username">GitHub Username:</label>
            <input name="username" id="username"/></div>
        <div>
        <input type="radio" id="pull" name="permission" value="pull">
          <label for="pull">Read Only</label><br>
          <input type="radio" id="push" name="permission" value="push" checked>
          <label for="push">Read/Write</label><br>
          <input type="radio" id="admin" name="permission" value="admin">
          <label for="admin">Admin</label>
          <button name="button" type="submit" value="submit">Submit</button>
        </div>
        </fieldset>
    </form>
    {% endif %}
    {% if adminaccounts | length > 0 %}
    <h2>Rename existing workspaces</h2>
    {% if renameerror %}
    <i class="fas fa-exclamation-triangle" style="color:red"></i> {{renameerror}}
    {% endif %}
    <form action="{{ url_for('renameGitHub') }}" method="post">
        <fieldset>
        <legend>Rename workspace</legend>
        <div><label for="workspace">Existing Workspace:</label>
            <select name="workspace" id="workspace">
                {% for workspace in adminaccounts %}
                <option value="{{workspace}}">{{workspace}}</option>
                {% endfor %}
            </select>
        </div>
        <div><label for="newname">Workspace new name:</label>
            <input name="newname" id="newname"/></div>
        <div>
          <button name="button" type="submit" value="submit">Submit</button>
        </div>
        </fieldset>
    </form>
    {% endif %}

    <h2>Create a new workspace</h2>
    {% set error = request.args.get('error') %}
    {% if error %}
    <i class="fas fa-exclamation-triangle" style="color:red"></i> {{error}}
    {% endif %}
    <form action="{{ url_for('add_repos') }}" method="post">
        <fieldset>
        <legend>New workspace</legend>
        <div><label for="owner">GitHub Username/Organization:</label>
            <select name="owner" id="owner">
                {% for user in session['orgs'] %}
                <option value="{{user}}">{{user}}</option>
                {% endfor %}
            </select>
        <div>
        <div><label for="name">Workspace name:</label>
            <input name="name" id="name"/></div>
        <div>
        <div><label for="private">Private (only check this if you have private GitHub pages availaible. This is not avaliable on the free version.):</label>
            <input type="checkbox" name="private" id="private"/></div>
        <div>
        
          <button name="button" type="submit" value="submit">Submit</button>
        </div>
        </fieldset>
    </form>
    </div>