{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}
{% block content %}
	</head>
	<body>
	{% if error %}
	<i class="fas fa-exclamation-triangle"></i> {{error | safe}}
	{% endif %}
	<div id="imagerror"></div>
	{% include '_tab_headers.html' %}
	
	<div id="manifest" class="tabcontent">
	  <h2>Create Copy of existing Manifest</h2>
	  <form action="{{ url_for('createimage') }}" enctype=multipart/form-data method="post">
	  	<div>
			<label for="upload-manifest">Existing IIIF manifest </label>
			<input id="upload-manifest" name="upload" required>
		</div>
		<button type="submit">Copy IIIF Manifest</button>
		</form>
	</div>
	
	<div id="image" class="tabcontent">
	  <h2>Upload Image</h2>
	  <p>
	  When you upload an image/s this will create
	  a IIIF derivative of the image/s with a corresponding manifest with the metadata you enter in the form below.
	</p>
	  <form action="{{ url_for('createimage') }}" enctype=multipart/form-data method="post">
		<div>
			<label for="upload-image">Upload image or PDF files from computer (each file must be 25MB or smaller): </label>
			<input type="text"  id="upload-image" name="upload" value="uploadimage" style="display: none">
			<input type=file  onchange="checkImages(this);" id="upload-image" name=file accept="image/* pdf/*" required multiple>
			 <div>
				<label for="label">Title of Image (Required): </label>
				<input value="" id="label" name="label" required>
				</div>
				<div>
					<label for="label">short folder name. This will populate the url of the image. It should not include special characters/spaces (don't worry too much, the application will clean this for you.) (Required): </label>
					<input value="" id="folder" name="folder" required>
				</div>
			   <div>
				<label for="description">Description: </label>
				<input value="" id="description" name="description">
			   </div>
				<div>
				<label for="rights">Rights: </label>
				<input value="" id="rights" name="rights">
				</div>
				<div>
					<label for="language">Language code (default is en): </label>
					<input value="" id="language" name="language">
				</div>
				<div>
					<label for="version">Version: </label>
					<select id="version" name="version">
						{% if session | isMirador  == False %}
						<option value="v3" selected>Version 3</option>
						{% endif %}
						<option value="v2" {% if session | isMirador %}selected{% endif %}>Version 2</option>
					</select>
				</div>
			<div>
				<label for="direction">Viewing Direction: </label>
				<select id="direction" name="direction">
					<option value="left-to-right" selected>left-to-right</option>
					<option value="right-to-left">right-to-left</option>
				</select>
			</div>
	 	</div>
		<button type="submit" id="imagesubmit">Upload image</button>
	</form>
	</div>

	<div id="vocab" class="tabcontent">
		<p>
			Vocab spreadsheets should have a "label" and "uri" column.
			The "label" column will have a list of words that you want to be added to the dropdown vocabulary on the homepage.
			This allows users to choose a tag from a dropdown that shows up when they start typing in a tag.
			The "uri" column is optional to fill out, this is a link to a controlled vocabulary (VIAF, WikiData, etc.) for the work in the corresponding "label" column.
			This is case sensitive so please make sure "label" and "uri" are lowercase and there are no extra spaces.
		</p>
		<h2>Upload Vocab</h2>
		<form action="{{ url_for('uploadvocab') }}" enctype=multipart/form-data method="post">
			<div>
				  <label for="vocabcsv">Upload vocab csv: </label>
				  <input type=file id="vocabcsv" name="vocabcsv" accept=".csv" required>
			 </div>
			<button type="submit">Upload vocab</button>
		</form>
	</div>
	<div id="collection" class="tabcontent">
		<h2>Process Wax Collection</h2>
		{% set wax_url = session['currentworkspace']['html_url'] + '/tree/' + session['currentworkspace']['default_branch'] + '/_data/raw_images'  %}
		<p>Before uploading, make sure you have:
			<ol>
				<li>a folder that has images here: <a href="{{wax_url}}">{{wax_url}}</a>
				</li>
				<li>a csv spreadsheet that matches the formats outlined here: <a href="https://minicomp.github.io/wiki/wax/preparing-your-collection-data/metadata/">https://minicomp.github.io/wiki/wax/preparing-your-collection-data/metadata/</a>
				</li>
			</ol>
			If you do not. To upload images to GitHub, <a href="https://newbedev.com/how-to-upload-folders-on-github"></a>drag the folder</a> containing the images from your desktop to <a href="{{wax_url}}">{{wax_url}}</a>. 
			If you are lost, there is a <a href="https://annonatate.github.io/annonatate-help/wax#how-to-process-a-collection">video walkthrough on our Annonatate Help website</a>.
			<br>
			If you have both of these proceed. Make sure you collection name you enter into the form labeled "Collection name:" matches the name of the folder in the first step.
			What this interface will do once you hit upload is create IIIF derivatives of the images you have uploaded.
			It will also add all the new items into the search for your Wax website.
			Additionally, it will create an item page for each item in your collection. 
			You should see your new images listed on the homepage shortly.
		</p>
		<form action="{{ url_for('processwaxcollection') }}" enctype=multipart/form-data method="post">
		  <div>
				<label for="collectioncsv">Upload collection csv: </label>
				<input type=file id="collectioncsv" name="collectioncsv" accept=".csv" required>
		   </div>
		   <div>
			<label for="waxcollection">Collection name:</label>
			<input type="text"  id="waxcollection" name="waxcollection" required>
		   </div>
		  <button type="submit">Upload collection</button>
	  </form>
	</div>
	<script>
		const submits = document.querySelectorAll('button[type=submit]')
		for (var i=0; i<submits.length; i++){
			submits[i].addEventListener("click", function(event){
				document.getElementById("spinner").style.display = "block";
			});
		}
		function checkImages(images) {
			var message = ''
			for (var i=0; i<images.files.length; i++){
				if(images.files[i].size > 25000000){
					if (message){
						message += '<br>'
					}
					message += `${images.files[i].name} is bigger than 25MB! Choose different images.`;
				}
			}
			if (message) {
				alert(message.replaceAll("<br>", "\n"))
				var imageerror = document.getElementById('imagerror');
				imageerror.innerHTML = `<i class="fas fa-exclamation-triangle"></i>${message}<i class="fas fa-exclamation-triangle"></i>`;
				document.getElementById("imagesubmit").disabled = true;
			} else {
				document.getElementById('imagerror').innerHTML = '';
				document.getElementById("imagesubmit").disabled = false;
			}
		}
	</script>
{% endblock %}