{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Upload {%if uploadurl or output == True %}Success {% else %} Failure {% endif %}{% endblock %}</h1>
{% endblock %}
{% block content %}
	{% if uploadurl %}
		<p id="uploadtext">
			{{uploadtype | title}} successfully written.
			<br>
			<br>
			This can take a minute to load. 
			If you have uploaded an image/image(s), this can take a long time.
			A single image conversion can take about 6 minutes. This conversion time is multiplied by the number of images you uploaded.
			<br>
			<br>
			This page will update with the URL of the {{uploadtype}} when the {{uploadtype}} is avaliable but is recommended you naviagte to the <a href="profile/?tab=status">profile page to keep track of all your uploads.</a>
		</p>
	{% elif output == True %}
		Upload of {{uploadtype | title}} Success!
	{% elif '.zip' not in output%}
		<p>Something went wrong writing to GitHub, please try again.
		Message from GitHub: {{output | safe}}</p>
	{% endif %}
<script>
	$(window).on('load', function() {
		if ('{{uploadurl}}' != 'False'){
			checkStatus(0)
			var start = 1
			const interval = setInterval(function(){
				checkStatus(start)
				start += 1
			}, 40000);
			function stopFunction() {
				clearInterval(interval);
			}
		}
		function checkStatus(checknum){
			const uploadurl = '{{uploadurl}}' 
			const uploadtype = '{{uploadtype}}'
			const successmessage = '{{successmessage |safe }}'
			var isready = UrlExists(`/uploadstatus?url=${uploadurl}&checknum=${checknum}&uploadtype=${uploadtype}`);
			if (isready){
				if (checknum > 0){
					stopFunction();
				}
				document.getElementById('uploadtext').innerHTML = `<p>${successmessage}</p>`
			}
		}
	})
	
</script>

{% endblock %}