{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}
{% block content %}
	</head>
	<body>
	{{error}}
	<div class="tab">
	  <!-- <button class="tablinks" onclick="openTab(event, 'iiifimage')" id="defaultOpen">Create IIIF image</button> -->
	  <button class="tablinks" onclick="openTab(event, 'manifest')" id="defaultOpen">Create Manifest</button>
	  <button class="tablinks" onclick="openTab(event, 'image')" id="imagetab">Upload Image</button>
	  {% if session['defaults']['iswax'] %}
	  <button class="tablinks" onclick="openTab(event, 'collection')" id="collectiontab">Process Wax Collection</button>
	  {% endif %}
	</div>
<!-- 	
	<div id="iiifimage" class="tabcontent">
		<h2>Create Tiled IIIF image</h2>
		<p>
	  <b>
		This process only works with JPEG and JPG images.
		<br>
		Note: This process can take a while. Do not leave this page until the success page appears</b>
	  </p>
	  
		<form action="{{ url_for('createimage') }}" enctype=multipart/form-data method="post">
		<div>
			<label for="upload-tile">Upload file from computer: </label>
			<input type="text" id="upload-tile" name="upload" value="uploadiiif" style="display: none">
		 	<input type=file name=file accept="image/jpeg" required>
	 	</div>
		 <div>
			<label for="label">Title of Image (Required): </label>
			<input value="" name="label" id="label" required>
		</div>
   		<div>
			<label for="description">Description: </label>
			<input value="" name="description">
   		</div>
		<div>
			<label for="rights">Rights: </label>
			<input value="" name="rights">
		</div>
		<div>
			<label for="rights">Viewing Direction: </label>
			<select id="direction" name="direction">
				<option value="left-to-right" selected>left-to-right</option>
				<option value="right-to-left">right-to-left</option>
			</select>
		</div>
		<button type="submit">Create IIIF image</button>
		</form>
	</div> -->
	
	<div id="manifest" class="tabcontent">
	  <h2>Create Manifest using existing image</h2>
	  <form action="{{ url_for('createimage') }}" enctype=multipart/form-data method="post">
	  	<div>
			<label for="upload-manifest">Existing IIIF image (without /info.json) </label>
			<input id="upload-manifest" name="upload" required>
		</div>
		<div>
			<label for="label">Title of Image (Required): </label>
			<input value="" id="label" name="label" required>
		</div>
   		<div>
			<label for="description">Description: </label>
			<input value="" id="description" name="description">
   		</div>
		<div>
			<label for="rights">Rights: </label>
			<input value="" id="rights" name="rights">
		</div>
		<div>
			<label for="direction">Viewing Direction: </label>
			<select id="direction" name="direction">
				<option value="left-to-right" selected>left-to-right</option>
				<option value="right-to-left">right-to-left</option>
			</select>
		</div>
		<button type="submit">Create IIIF Manifest</button>
		</form>
	</div>
	
	<div id="image" class="tabcontent">
	  <h2>Upload Image</h2>
	  <p>
	  When you upload an image/s this will create
	  a IIIF derivative of the image/s with a corresponding manifest with the metadata you enter in the form below.
	</p>
	  <form action="{{ url_for('createimage') }}" enctype=multipart/form-data method="post">
		<div>
			<label for="upload-image">Upload files from computer (must be 25MB or smaller): </label>
			<input type="text"  id="upload-image" name="upload" value="uploadimage" style="display: none">
		 	<input type=file id="upload-image" name=file accept="image/*" required multiple>
			 <div>
				<label for="label">Title of Image (Required): </label>
				<input value="" id="label" name="label" required>
				</div>
				<div>
					<label for="label">short folder name (will populate the url of the image) (Required): </label>
					<input value="" id="folder" name="folder" required>
				</div>
			   <div>
				<label for="description">Description: </label>
				<input value="" id="description" name="description">
			   </div>
				<div>
				<label for="rights">Rights: </label>
				<input value="" id="rights" name="rights">
				</div>
				<div>
					<label for="language">Language code (default is en): </label>
					<input value="" id="language" name="language">
				</div>
			<div>
				<label for="direction">Viewing Direction: </label>
				<select id="direction" name="direction">
					<option value="left-to-right" selected>left-to-right</option>
					<option value="right-to-left">right-to-left</option>
				</select>
			</div>
	 	</div>
		<button type="submit">Upload image</button>
	</form>
	</div>
	<div id="collection" class="tabcontent">
		<h2>Process Wax Collection</h2>
		{% set wax_url = session['currentworkspace']['html_url'] + '/tree/' + session['currentworkspace']['default_branch'] + '/_data/raw_images'  %}
		<p>Before uploading, make sure you have:
			<ol>
				<li>a folder that has images here: <a href="{{wax_url}}">{{wax_url}}</a>
				</li>
				<li>a csv spreadsheet that matches the formats outlined here: <a href="https://minicomp.github.io/wiki/wax/preparing-your-collection-data/metadata/">https://minicomp.github.io/wiki/wax/preparing-your-collection-data/metadata/</a>
				</li>
			</ol>
			If you do not. To upload images to GitHub, <a href="https://newbedev.com/how-to-upload-folders-on-github"></a>drag the folder</a> containing the images from your desktop to <a href="{{wax_url}}">{{wax_url}}</a>. 
			If you are lost, there is a <a href="https://annonatate.github.io/annonatate-help/wax#how-to-process-a-collection">video walkthrough on our Annonatate Help website</a>.
			<br>
			If you have both of these proceed. Make sure you collection name you enter into the form labeled "Collection name:" matches the name of the folder in the first step.
			What this interface will do once you hit upload is create IIIF derivatives of the images you have uploaded.
			It will also add all the new items into the search for your Wax website.
			Additionally, it will create an item page for each item in your collection. 
			You should see your new images listed on the homepage shortly.
		</p>
		<form action="{{ url_for('processwaxcollection') }}" enctype=multipart/form-data method="post">
		  <div>
				<label for="collectioncsv">Upload collection csv: </label>
				<input type=file id="collectioncsv" name="collectioncsv" accept=".csv" required>
		   </div>
		   <div>
			<label for="waxcollection">Collection name:</label>
			<input type="text"  id="waxcollection" name="waxcollection" required>
		   </div>
		  <button type="submit">Upload collection</button>
	  </form>
	</div>
{% endblock %}