@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --main-color: #1A5F7A;
  --grey-background: rgb(231, 231, 231);
  --menu-background: rgb(1,4,10);
  --boxoutline-color : #159895;
  --secondary-color: #002B5B;
  --third-color: #57C5B6;
  --toolbar-font-size: 15px;
}
/* theme colors: #57C5B6, #159895; #1A5F7A; #002B5B
https://colorhunt.co/palette/57c5b61598951a5f7a002b5b
 */
 .imagecontainer {
  position: relative;
  text-align: center;
 }
 
 .imagecontainer .deletebutton {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  border-radius: 5px;
  padding:5px;
}

.imagecontainer:has(.currentimage) {
  background-color: var(--third-color);
}

.topnav {
  overflow: hidden;
  background-color: var(--menu-background);
  height: 46px;
}

.responsive {
  height: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--main-color);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .topnav a:not(.show a, .icon) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  label[for=current-tool]{
     display: none;
  }
  label.toolbutton span {
    padding: 3px 6px!important;
  }
}

@media screen and (max-width: 785px) {
  .topnav.responsive {
    position: relative;
    z-index: 1000;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block!important;
    text-align: left;
  }
}
section.content {
  padding: 0em 2em;
}

/**
 * Search
 */
#result::after { 
  content:"";
  position:relative;
  width:auto;
  height:1px;
  background-image: radial-gradient(var(--main-color), white);
  margin-bottom: 1em;
  margin-top: 1em;
  display:block;
}

#result{
  list-style-type: none;
}
#result h2 {
  display: block;
  word-break: break-all;
  padding: 0px;
  margin: 0px;
}

tbody {
   border: none;
 }

#sort_by {
  float: right;
  margin-top: -2px; 
}
#sort_by label {
  display: inline-block; 
}
@media screen and (max-width: 600px) {
  #sort_by label {
    display: none; 
  } 
}

#searchInfo {
  background-color: #DDD;
  padding: 10px;
  margin-bottom: 10px;
}

.facet_button {
  border: 2px solid grey;
  background-color: white;
  color: grey;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 40px;
}

#header_info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: none;
}

#pagination {
  display: flex;
  justify-content: center;
}

.pagination > .active {
  background: #ccc;
}

.dropdownsort {
  float: right;
}

.dropdownsort > select {
  height: auto;
  margin: auto;
  width: auto;
  padding: .1rem;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

#spinner {
  font-size: 100px;
  text-align: center;
}

.wrapper {
  max-width: none;
}

#facets a {
  white-space:normal;
}

#facets h4 {
  padding: 12px 0px 5px;
  margin: 0px;
}

.thumbnail div {
  margin: 0px;
  padding: 0px;
  width: 200px;
}
/* 
.thumbnail {
  height: 50px;
  float: left;
  margin-bottom: 1em;
} */

.thumbnail img, .thumbnail svg, .thumbnail canvas {
  width: auto!important;
  float: left;
  padding-right: 10px;
  max-width: 200px;
  height: auto!important;
  max-height: 100px!important;
}

.thumbnail .annoimage svg {
  max-width: 100%;
}

.searchResultMetadata {
  margin-bottom: 1em; 
  margin-top: 1em;
  width: 100%;
  background-color: white;
}

.results_data {
  display: grid;
}

.excerpt {
  display: inline-block;
}

#resultslist {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.switchorcurrent {
  display: inline-flex;
}

.viewinputs {
  display: inline-block;
  padding: 0px 40px 0px 0px;
}

.annoitem {
  width: 100%;
}

.manifestthumbs {
  width: 100%; 
  overflow:auto;
  display: inline-flex;
}

.annonaview label {
  font-weight: 900;
}

.annonaview h1 {
  font-size: 2em;
  margin-bottom: 4px!important;
}

.customview {
  width: 100%;
  display: inline-block;
}

.manifestimages {
  max-height: 300px;
  overflow: auto;
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
}

.manifestimages div {
  padding: 10px;
}

.icontextbutton i {
  font-size: 30px;
  background: var(--grey-background);
  padding: 20px;
}

.icontextbutton a {
  color: black;
  text-decoration: none;
}

.icontextbutton {
  text-align: center;
  background: var(--grey-background);
  width: 70px;
  padding: 10px;
}

.addimage {
  /* trbl */
  padding: 20px 10px 0px 10px;
}

.manifestimages figcaption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;  /* Number of lines displayed before it truncate */
  overflow: hidden;
}

.my-images h2 {
  background: var(--boxoutline-color);
  color: white;
  padding: 7px;
  margin: 0px;
}

.my-images-header {
  display: inline-block;
  width: calc(100% - 100px);
}

.my-images-icons {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.my-images-icons div{
  padding-left: 8px;
}

.my-images {
  border: 2px solid var(--boxoutline-color);
  overflow: hidden;
}

label.toolbutton {
  padding: 0;
}

label.toolbutton input {
  opacity: 0;
  position: absolute;
}

#current-tool {
  display: inline-block;
}
label.toolbutton span {
  text-align: center;
  padding: 6px 12px;
  display: inline-block;
}

label.toolbutton input:checked+span {
  background-color: var(--main-color);
  color: #fff;
}

.drawingtools {
  display: flex;
  align-items: center;
  background-color: var(--grey-background);
  flex-wrap: wrap;
}
#openseadragon1 {
  height: 90vh;
}

#app #livedemo {
  padding-top: 15px;
}

img.githubicon {
  max-height: 50px;
  padding-right: 5px;
}

.profile h2, .profile h3 {
  margin: 8px 0;
  font-weight: 900;
  text-decoration: underline;
}

.profile h2 {
  font-size: 25px;
  line-height: 25px;
}

.profile h3 {
  font-size: 15px;
  line-height: 15px;
}

.workspaceusers {
  padding-left: 20px;
}

.fa-exclamation-triangle {
  color: red;
}


* {font-family: Roboto, Arial, sans-serif;}
  
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.logout {
  float: right;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: -100px!important;
}

.button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font: inherit;
  max-width: 80px;
  border-radius: 20px;
}

button {
  background-color: var(--main-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
}

#incollections{
  margin-top: 0px;
  margin-bottom: 0px;
}
.gridparent {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 800px) {
  .gridparent {
    grid-template-columns: 49% 49%;
    grid-gap: 24px;
    margin: 20px;
  }
}

.gridparent > div {
  border-bottom: 1px solid black;
}
h1 {
  font-size: 2.5em!important;
}
h2 {
  font-size: 2em!important;
}
h3 {
  font-size: 1.7em!important;
}

.ingesturlcontainer {
  /* border: 2px solid #004EC2;
  padding: 10px; */
  margin: 10px 0px;
}

.noanno #openseadragon1 {
  background-color: var(--grey-background);
}

 #openseadragon1 div{
  font-style: italic;
  font-size: 1.25em;
  padding: 70px;
  text-align: center;
}

.removeboard, .linkbutton {
  display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: black;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submitbutton {
  padding-top: 20px;
}

body {
  margin: 0px;
}

.prevnext {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  z-index: 100000;
  margin-top: 45vh;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white;
}

.next {
  right: 60px;
}

.manifestimagelist {
  display: inline-block;
  padding:4px;
}

.manifestimagelist > .linkbutton {
  outline: .5px solid grey; 
  height: 100%;
  max-width:100px;
}

.manifestimagelist > .linkbutton img {
  max-width:90px;
}

.manthumblabel {
  color: var(--secondary-color);
  text-overflow: ellipsis;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /* Number of lines displayed before it truncate */
  overflow: hidden;
  /* margin-top: -8px; */
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu .dropdown-content {
  right: 0;
  top: 48px;
  z-index: 20;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown.share {
  font-size: 30px;
  float: none;
  display: inline-flex;
}

.dropdown.share .dropbtn {
  color: black;
  font-size: 35px;
  padding: 0px;
}

.dropdown.share .dropdown-content {
  font-size: 14px;
  margin-left: 30px;
}


#github-button  {
  padding: 10px;
  font-size: 30px;
  text-decoration:none;
  border-radius: 15px;
  font-weight: 900;
  background-color: black;
  color: white;
  
}
.github-login {
  padding-top: 20px;
}

.left, .right {
  width: 100%;
  display: block;
}
.left h3, .right h3 {
  margin: .5em 0;
}

.left h3, .left p {
  text-align: right;
}

.left img {
  float: left;
  width: 350px;
}

.right img {
  float: right;
  width: 350px;
}

.about {
  padding-bottom: 6px;
}

#imagepreview {
  display: flex;
  overflow-y: auto;
  max-width: 100%;

}

::-webkit-scrollbar {
  width: 5px;
}

.manifestimages::-webkit-scrollbar-button:horizontal:start:increment, 
.manifestthumbs::-webkit-scrollbar-button:horizontal:start:increment {
  display: none;
 }

 .manifestimages::-webkit-scrollbar-button:horizontal:start:decrement, 
 .manifestthumbs::-webkit-scrollbar-button:horizontal:start:decrement {
  width: 1rem;
  display: block;
  height: 1rem;
  background-color: var(--boxoutline-color);
  background: no-repeat center center url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 0 256 512'%3e%3cpath fill='white' d='M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z'/%3e%3c/svg%3e"), var(--boxoutline-color);
}
.manifestimages::-webkit-scrollbar-button:horizontal:end:increment,
.manifestthumbs::-webkit-scrollbar-button:horizontal:end:increment
{
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--boxoutline-color);
  background: no-repeat center center url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 0 256 512'%3e%3cpath fill='white' d='M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z'/%3e%3c/svg%3e"), var(--boxoutline-color);
 }

#imagepreview::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--boxoutline-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--boxoutline-color); 
}

#imagepreview div {
  padding: 5px;
}

#homepageshare {
  z-index: 201;
}

.helptext {
  margin-left: auto;
  order: 2;
}

.homepagedrop, .homepagedrop .dropbtn {
  font-size: inherit!important;
}

#app {
  padding: 0px 20px;
}

.linkbutton {
  max-width: 100px;
  overflow-wrap: break-word;
}
.imgthumb {
  height: 75px;
}

.uploadlist {
  display: inline-flex;
  width: 100%;
  flex-flow: wrap;
}

.uploadlist div {
  display: grid;
  padding: 10px;
}


.modal {
  position: fixed; /* Stay in place */
  z-index: 201; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close-modal {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-options {
  width: calc(47% - 40px);
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.modal-options i {
  display: block;
  font-size: 50px;
  margin: auto;
  padding-top: 10px;
}

.demoimages {
  display: flex;
  justify-content: center;
}

.demoimages .linkbutton {
  padding: 5px;
}

.modal-button {
  max-width: none;
}

.tabcontent form input:not([type]), .tabcontent form input[type='text'] {
  width: calc(95% - 300px);
}

input[type='text'], input:not([type]) {
  height: 30px;
}
#ingesturl {
  width: 100%;
  margin-bottom: 10px;
}

#header-toolbar {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  font-weight:900; 
  padding: 10px;
  font-size: 15px!important;
}

#header-toolbar .tools {
  margin-left: auto;
  order: 2; 
  display: flex;
}

#header-toolbar .tools button {
  color: white!important;
  background-color: var(--secondary-color);
  border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  margin-left: 10px;
  font-size: inherit;
}

#header-toolbar #homepageshare {
  margin-left: -160px;
  margin-top: 20px;
}

#header-toolbar #savemessage {
  padding: 0px 10px;
  color: #75FF33;
}

#header-toolbar #savemessage .fa-save {
  font-size: 18px;
}

.annotorious-viewer {
  border: 2px solid black;
  margin: 20px 0px;
}


.a9s-toolbar-btn-inner .handles {
  display: none;
}

.a9s-toolbar-btn.active{
  background-color: var(--main-color)!important;
}

.a9s-toolbar-btn, .a9s-toolbar-btn svg *{
  color: black!important;
  stroke: black!important;
  margin: 0px!important;
}

.a9s-toolbar-btn.active, .a9s-toolbar-btn.active svg *{
  color: white!important;
  stroke: white!important;
  border-radius: 0px!important;
}

.a9s-toolbar-btn svg {
  height: 20px!important;
  width: auto!important;
}

.a9s-toolbar-btn {
  padding: 8px 5px!important;
}

@media (max-width: 659px) {
  .a9s-toolbar-btn-label {
    display: none;
  }
}

.annoimage > * {
  max-height: 300px; width: auto;
}

.error {
  border: 2px solid red;
  padding: 10px;
}

.modal .error {
  margin: auto;
  width: 65%;
}

a {
  color: var(--main-color);
}

label  {display:inline-block; width:300px; margin-top:15px} 

.listview {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: calc(100% - 2px);
  overflow: auto;
  overflow-wrap: break-word;
  background: rgb(255,255,255,.75);
  border: 1px solid var(--secondary-color);
}

.list-view-annotation {
  background: var(--grey-background);
  padding: 10px;
  margin: 5px;
}

.list-view-annotation .creator {
  font-size: smaller;
  font-style: italic;
}

.list-view-annotation.list-active-anno {
  background-color: yellow;
}

.listview h3 {
  text-align: center;
  margin: 0px;
  text-decoration: underline;
}

.image-title span{
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}