<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <script src="//ncsu-libraries.github.io/annona/latest/annona.js"></script>
    <link rel="stylesheet" type="text/css" href="//ncsu-libraries.github.io/annona/latest/annona.css">
    <title>iiif-tag-builder</title>
  <link href="/app.js" rel="preload" as="script"></head>
  <span v-if="process.env.NODE_ENV != 'flask'">
    {% extends 'base.html' %}
    {% block content %}
  </span>
  <body>
    <noscript>
      <strong>We're sorry but iiif-tag-builder doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/app.js"></script></body>
  <span v-if="process.env.NODE_ENV != 'flask'">
    {% endblock %}
  </span>
</html>
