<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/app.js"></script>
    {% extends 'base.html' %}
    {% block header %}
    <h1>{% block title %}Tag Builder{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <b>When building any type of storyboard custom view the <b>fullpage</b>
    setting is recommended. It is also recommended to wait until right before you save your custom view to select it because it will continually pop up with every new setting you enable.
  </b>
    <annona-tagbuilder apiurl="/saveannonaview" collectionurl="/createcollections" collections='{{session["collectionnames"] | tojson | safe}}'></tagbuilder>
    {% endblock %}
</html>
