{% extends 'base.html' %}

{% block content %}
<form onsubmit="test(event)">
	<button style="position: absolute;">Save View</button>
</form>
<iframe src="http://localhost:8080/annona/tools/#/tag-builder" id="iframe" style="height: 100vh"></iframe>
<style>
	.content {
		padding: 0px;
	}
</style>
<script type="text/javascript">
	function test(e) {
		e.preventDefault();
		console.log(document.getElementById('iframe').contentWindow.document)
		console.log(document.getElementById('iframe').contentWindow.document.getElementById('settings'))
	}
</script>
{% endblock %}