<!doctype html>
<title>{% block title %}{% endblock %}</title>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-indigo.min.css" />

  	<script src="https://ncsu-libraries.github.io/annona/dist/annona.js"></script>
<link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/dist/annona.css">	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
 </head>
<nav>
<ul class="nav">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('listannotations') }}">Annotations</a></li>
  <li><a href="{{ url_for('search') }}">Search Annotations</a></li>
  <li><a href="{{ url_for('upload') }}">Use your own images</a></li>
  <li><a href="{{ url_for('annonaview') }}">Build Custom views</a></li>
  <li><a href="{{ url_for('customviews') }}">List customviews</a></li>
  <li style="float: right;"><a href="/profile"><img src="{{session['avatar_url']}}" style="height: 2em; padding: 0px 6px 0px;">{{session['user_name']}}</a></li>
   {% if session['workspaces'] | length > 1 %}
  	<li style="float: right;"><a href="/workspaces" >{{session['currentworkspace']['full_name']}}</a></li>
  {% endif %}
</ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
