{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Collections{% endblock %}</h1>
{% endblock %}
{% block content %}

<div class="gridparent">
{% for (key, collection) in collections.items() %}
{% set githuburl = collectionurl + '/' + key | urlencode + '.json' %}
<div class="collection">

<div>
<b>Collection: <a href="{{key}}" target="_blank">{{key}}</a></b>
{% with file=githuburl, next='/collections' %}
{% include 'deletebutton.html' %}
{% endwith %}
</div>
<div>
    <b><i class="fab fa-github-square"></i>Github URL:</b> <a href="{{githuburl}}" target="_blank">{{githuburl}}</a>
</div>
{% if collection['json']['items'] | length > 0 %}
<script type="application/json" id="{{key}}">
	{{collection['json'] | tojson_pretty | safe}}
</script>
<div>
    <i class="fas fa-cog"></i> Build custom view for: 
    <a id="customview" href="/annonaview?url={{githuburl}}&viewtype=iiif-rangestoryboard" target="_blank">{{key}}</a>
</div>
    <i class="fas fa-pen"></i> Edit:  
    <a id="editcollection" href="{{ url_for('createcollection', collectionid=key) }}">
        {{key}}
    </a>
<iiif-rangestoryboard rangeurl="{{key}}" styling='customid: {{key}}'></iiif-rangestoryboard>

{% else %}
No items current in collection
{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}