{% extends 'base.html' %}

{% block content %}
	{% if '.zip' in output %}
	<b>Image creation a success!</b>
	Please follow the instructions below to add image to site
	<ol>
	<li>
		Download IIIF image derivatives
		<form action="{{ url_for('download') }}" method="post">
		   <button name="path" value="{{output}}">Download image</button>
		</form>
	</li>
	<li>Go to <a href="{{session['currentworkspace']['html_url']}}" target="_blank">{{session['currentworkspace']['html_url']}}</a></li>
	<li><a href="https://help.github.com/en/github/managing-files-in-a-repository/adding-a-file-to-a-repository" target="_blank">Upload Downloaded file.</a> 
		<p><b>Note: you might want to create a folder to hold all of you custom images. To do this put the downloaded image into a folder. Then upload that folder to the GitHub repository </b></p></li>
	<li>Go to <a href="{{ url_for('index') }}">homepage</a>. The new image should show in the list of images in the viewer.
	</ol>
	{% else %}
		<b>{{output}}</b>
	{% endif %}

{% endblock %}