{% extends 'base.html' %}

{% block content %}
{% for key, value in session['workspaces'].items() %}
<div>
<a href="{{value['html_url']}}">{{key}}</a>
<span class="switchorcurrent">
{% if session['currentworkspace']['full_name'] == key %}
	<span style="color: green">(Current workspace)</span>
{% else %}
<form action="{{ url_for('changeworkspace') }}" method="post">
	<button name="workspace" type="submit" value="{{key}}">Switch</button>
</form>
{% endif %}
</span>
<div class="description">
{% if value['description'] %}
{{value['description']}}
{% endif %}
</div>
</div>
{% endfor %}
{% endblock %}